
.node {
  position: absolute;
  border-radius: 50%;
  width: 200px;
  height: 200px;

  background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, yellow 0%, orange 100%, red 95%);
  background-image: -webkit-radial-gradient(45px 45px, circle cover, yellow, orange);
  background-image: radial-gradient(45px 45px 45deg, circle cover, yellow 0%, orange 100%, red 95%);
}

.pic {
	padding-right: 10px;
}

html, body {margin: 0; height: 100%; overflow: hidden}